p{
    font: normal normal normal 16px/18px Circe;
    letter-spacing: 0px;
    margin-bottom: 12px;
}
.project--header .project--popup-container{
    right: 0 !important;
}
// .project--popup-container{
//     padding: 20px 20px 30px;
// }
.project--form-btn{
    margin-top: 5px;
}
.mb-end-10{
    margin-block-end: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.search--group-item{
    -webkit-margin-after: 5px;
    margin-block-end: 5px;
}
.radio_checker{
    border: 1px solid transparent;
}
.color_radio_btn{
    margin: 0 0 0 9px;
}
.color_radio_btn:first-child{
    margin-left: 0;
}
.wishlist--modal-details-top{
    margin-bottom: 3px;
}
.project--wishlist-modal > div:first-child{
    margin-top: 5px;
}
.product--modal-price .product--previous-price + .color--red{
    margin-left: 10px;
}
.size_radio_btn{
    margin-right: 14px;
}
.product--color-container{
    margin: 0 -3px; 
    margin-block-end: 13px;
}
.project--product-modal-item{
    border-bottom: 1px solid #CDC3B3;
    padding-bottom: 1rem !important;
}

.project--popup-container.project--popup-product{
    max-width: 360px;
}
.project--popup-container.project--popup-product .project--product-modal-iterations{
    padding-bottom: 12px;
}
.project--input-label{
    padding: 0 4px;
}

.button_mail{
  font: normal normal normal 14px/20px Circe;
  letter-spacing: 1.05px;
}
.form-control:focus,
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    box-shadow: none !important;
}
.form-group.has-error{
    input.form-control{
        background: none;
        border-color: #D3311C !important;
    }
    span.help-block.error-help-block{
        color: #D3311C !important;
        font-size: 14px !important;
        line-height: 16px !important;
        padding-left: 10px;
        margin-top: 2px;
        display: block;
    }
}
.form-group.has-error + .popup-form-search-btn,
.form-group.has-error .inline-submit-btn
{
    border-color: #D3311C !important;
}
.form-group.has-error .project--input-label{
    color: #D3311C !important;
}
.form-group.filled .inline-submit-btn{
    background-color: #A8977A;
    color:#fff;
}

@media  screen and (min-width: 769px){
    .footer_links_wrapper{
        margin-bottom: 16px;
    }
}
@media  screen and (max-width: 768px){
    .footer_link{
        text-transform: uppercase;
    }
}
