p{
    font: normal normal normal 16px/18px Circe;
    letter-spacing: 0px;
    margin-bottom: 12px;
}
.project--header .project--popup-container{
    right: 0 !important;
}
.project--popup-container{
    padding: 20px 20px 30px;
}
.project--form-btn{
    margin-top: 5px;
}
.mb-end-10{
    margin-block-end: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.search--group-item{
    -webkit-margin-after: 5px;
    margin-block-end: 5px;
}
.project--popup-header .project--popup-close{
    width: 14px;
    height: 14px;
    -webkit-margin-after: 0.7rem;
    margin-block-end: 0.7rem;
    line-height: 1;
}
.radio_checker{
    border: 1px solid transparent;
}
.color_radio_btn{
    margin: 0 0 0 9px;
}
.color_radio_btn:first-child{
    margin-left: 0;
}
.wishlist--modal-details-top{
    margin-bottom: 3px;
}
.project--wishlist-modal > div:first-child{
    margin-top: 5px;
}
.product--modal-price .product--previous-price + .color--red{
    margin-left: 10px;
}
.size_radio_btn{
    margin-right: 14px;
}
.product--color-container{
    margin: 0 -3px; 
    margin-block-end: 13px;
}
.project--product-modal-item{
    border-bottom: 1px solid #CDC3B3;
    padding-bottom: 1rem !important;
}
.project--wishlist-product {
    max-height: 85vh;
}
.project--product-modal, .project--wishlist-modal{
    max-height: calc(100vh * 70 / 100);
}
.project--popup-container.project--popup-product{
    max-width: 360px;
}
.project--input-label{
    padding: 0 4px;
}

.button_mail{
  font: normal normal normal 14px/20px Circe;
  letter-spacing: 1.05px;
}
@media  screen and (min-width: 769px){
    .footer_links_wrapper{
        margin-bottom: 16px;
    }
}
@media  screen and (max-width: 768px){
    .footer_link{
        text-transform: uppercase;
    }
}