
.footer{
    width: 100%;
    background-color: #fff;
    color: #000;
}

.footer_separator-x{
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 1px;
    background-color: #F0EDE7;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mb-20{
    margin-bottom: 20px;
}

.my-40{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer_heading{
    font-size: 21px;
    height: 31px;
    line-height: 31px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: bold;
}

.footer_email_container{
    width: 290px;
    position: relative;
    margin-bottom: 20px;
}

.footer_icon_service_wrapper{
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
}

.footer_icon_service{
    width: 30px;
    height: 30px;
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer_service_wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 1px solid #F0EDE7;

}
.footer_links{
    padding: 0;
}

.footer_service_wrapper:after{
    content: '';
    display: block;
    width: 1px;
    height: 61px;
    background-color: #F0EDE7;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer_service_wrapper:last-child:after{
    content: none;
  }
.footer_service_wrapper .service_text_wrapper{
    font-size: 16px;
    line-height: 18px;
}

.service-telephone{
    width: 30px;
    height: 30px;
    background-image: url('../assets/footer/service_phone.svg');
}
.footer_service_wrapper a:hover .service-telephone{
    background-image: url('../assets/footer/service_phone_hover.svg');
}
.service-delivery{
    width: 40px;
    height: 30px;
    background-image: url('../assets/footer/service_delivery.svg');
}
.footer_service_wrapper a:hover .service-delivery{
    background-image: url('../assets/footer/service_delivery_hover.svg');
}
.service-return{
    width: 40px;
    height: 30px;
    background-image: url('../assets/footer/service_return.svg');
}
.footer_service_wrapper a:hover .service-return{
    background-image: url('../assets/footer/service_return_hover.svg');
}
.service-secure{
    width: 40px;
    height: 30px;
    background-image: url('../assets/footer/service_secure.svg');
}
.footer_service_wrapper a:hover .service-secure{
    background-image: url('../assets/footer/service_secure_hover.svg');
}

.footer_links_container{
    background-color: #F0EDE7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button_mail{
    background-color: #fff;
    border: 1px solid #CDC3B3;
    color: #A8977A;
    border-radius: 10px;
    border-top-left-radius: 0;
    text-transform: uppercase;
    height: 35px;
    padding: 0 9px;
    position: absolute;
    right: 0;
    transition: all 0.2s;
}
.button_mail:focus,
.button_mail:hover{
    background-color: #897047 !important;
    border: 1px solid #CDC3B3 !important;
    color: #fff !important;
}
.footer_email_placeholder{
    position: absolute;
    left: 10px;
    top: 7px;
    color: #A8977A;
    background-color: #fff;
    font-size: 16px;
    transition: all 0.2s;
    transform-origin: left center;
    pointer-events: none;
}
.input_mail{
    background-color: #fff;
    border: 1px solid #CDC3B3;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    color: #000;
    padding: 0 9px;
    outline: 0;
}
.input_mail:focus{
    border: 1px solid #CDC3B3 !important;
}

.footer_links_wrapper{
    font-size: 16px;
    border-bottom: 1px solid #fff;
    margin-bottom: 0;
    padding: 0;
}

.footer_links span{
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer_link{
    display: block;
    color: currentColor;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.314s;
    a{
        font-size: 16px;
        line-height: 18px;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transition: transform 0.6s ease;
            transition: transform 0.6s ease, -webkit-transform 0.6s ease;
            -webkit-transform-origin: left;
            transform-origin: left;
            -webkit-transform: scale(0);
            transform: scale(0);
            background-color: #A8977A;
        }
        &:hover{
            font-weight: bold;
            &::before{
                transform: scale(1);
            }
        }
    }
}

.soc_icons_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.soc_icon{
    width: 25px;
    height: 25px;
    margin-right: 25px;
    // margin-bottom: 25px;
    border-radius: 5px;
    svg{
        fill: #A8977A;
      }
    &:hover{
    svg{
        fill: #897047;
        }
    }
}

.payment{
    width: 100%;
    height: 22px;
    background-size: cover;
}

.payment-group{
    background-image: url('../assets/paymen_group.svg');
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
        background-image: url('../assets/payment_hover.svg');
    }
}

.payment-visa{
    background-image: url('../assets/footer/payment_visa.svg');
    width: 49px;
    height: 14px;
}
.payment-master{
    background-image: url('../assets/footer/payment_master.svg');
    width: 49px;
    height: 31px;
}
.payment-mir{
    background-image: url('../assets/footer/payment_mir.svg');
    width: 49px;
    height: 14px;
}

.footer_copy{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
}

.footer_links_heading{
    appearance: none;
    background-color: transparent;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0 !important;
    white-space: nowrap;
}

@media (min-width: 769px) { 
    .footer_links,
    .footer_service_wrapper{
        padding: 0 20px;
    }
    .footer_links_wrapper{
        margin-bottom: 37px;
        border-bottom: 0;
    }
    .footer_service_wrapper{
        flex-direction: column;
    }
    .footer_service_wrapper{
        border-bottom: 0
    }
    .footer_links_heading{
        margin-bottom: 10px;
    }
    footer{
        .collapse:not(.show),
        .collapsing {
            display: block !important;
            height:  auto !important;
        }
    }
    .soc_icons_wrapper.collapse:not(.show),
    .soc_icons_wrapper.collapsing {
        display: flex !important;
        height:  auto !important;
    }
}

@media (min-width: 992px) {
    .footer_links,
    .footer_service_wrapper{
        padding: 0 8px 0 38px;
    }
    
    .footer_links_heading{
        font-size: 16px;
        height: auto;
        line-height: 18px;
    }
}

@media (min-width: 1201px) {
    .footer_icons_container{
        .row{
            & > div + div{
                padding-inline-start: 70px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .payment{
        margin-right: 15px;
    }
    .footer_separator-x.my-40{
        width: 100%;
        margin-block-end: 30px;
    }
    .footer_email_container + .footer_separator-x.my-40{
        margin-block-end: 20px;
        margin-block-start: 30px;
    }
    .footer_links{
        & > div.footer_links_wrapper:first-child:not(:last-child){
            margin-bottom: 48px;
        }
    }
    .footer_icons_container{
        .row{
            & > div + div{
                padding-inline-start: 34px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .footer_heading{
        height: auto;
    }
    .footer_copy{
        justify-content: flex-start;
        padding: 0 20px;
    }
    .footer_links_heading{
        margin-block-end: 0 !important;
    }
    .footer_service_wrapper{
        border-bottom: 0;
    }
    .footer_icons_container,.footer_links_container{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        .container{
            padding: 0;
            max-width: 100% !important;
        }
        .row{
            margin: 0 !important;
        }
    }
    .footer_links_container{
        padding: 10px 20px 10px 20px;
        .row{
            & > div.footer_links:nth-child(3){
                order: -1;
            }
            & > div.footer_links:last-child .footer_links_wrapper{
                border-bottom: 0;
            }
        }
    }
    .footer_separator-x.my-40{
        width: calc(100% - 40px);
    }
    .footer_links_heading{
        position: relative;
        padding-inline-start: 24px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: 0;
            width: 14px;
            height: 14px;
            background-image: url('../assets/chevron.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(90deg);
            transition: transform .3s ease;
        }
        &[aria-expanded="true"]::before{
            transform: rotate(270deg);
        }
    }
    .soc_icons_wrapper, .footer_links_wrapper ul{
        margin-block-start: 14px;
        margin-block-end: 20px;
        padding-inline-start: 24px !important;
    }
    .footer_links > div.footer_links_wrapper:first-child:not(:last-child){
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px){
    .footer_service_wrapper{
        a{
            display: flex;
            align-items: center;
        }
    }
    .footer_service_wrapper{
        border-bottom: 1px solid #F0EDE7;
        &::after{
            content: none;
        }
    }
    .footer_heading{
        padding: 0 20px;
    }
    .footer{
        .button_mail{
            right: 20px;
        }
    }
    .footer_email_container{
        width: 100%;
        padding: 0 20px;
        .footer_email_placeholder{
            left: 30px;
        }
    }
    .footer_icons_container{
        .row{
            margin: 0 -2px;
            & > div + div{
                padding-inline-start: 0;
            }
            & > div:last-child{
                border: none;
            }
        }
    }
}