.project--header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    padding: 16px 40px;
    background-color: #fff;
    transition: height .5s ease;
    &.background--transparent{
        background-color: transparent;
    }
    &.background--blur{
        background-color: #fff;
        backdrop-filter: blur(15px);
    }
    &.background--opacity{
        background-color: rgba($color: #fff, $alpha: 0.7);
    }
}

.project--logo{
    display: block;
    width: 290px;
    height: 35px;
    svg{
        width: 100%;
        height: 100%;
    }
}

.project--primary-links{
    & > a + a{
        margin-inline-start: 12px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: -12px;
            display: block;
            width: 1px;
            height: 20px;
            background-color: #A8977A;
        }
    }
    & > a:not(:last-child){
        margin-inline-end: 12px;
    }
    .primary--link-item{
        position: relative;
        display: flex;
        align-items: center;
        svg{
            flex-shrink: 0;
            width: 20px;
            height: 20px;
        }

    
    }
}

.project--header-line{
    border-color: #A8977A;
    margin-block-end: 8px;
}
.project--header-secondary{
    .nav-link{
        position: relative;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0;
        transition: font-weight .7s;
        &::before{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 100%;
            background-color: #A8977A;
            transform-origin: center;
            transform: scale(0);
            transition: transform .5s ease;
        }
        &:hover{
            // font-weight: bold;
            &::before{
                transform: scale(1);
            }
        }
    }
    .header--secondary-nav{
        & > .navbar-nav{
            & > .nav-item{
                position: static;
            }
        }
    }
    ul.navbar-nav:not(.project--nav-secondary){
        & > li + li{
            margin-inline-start: 60px;
        }
    }
}

.dropdown--content{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;
    visibility: hidden;
    overflow: hidden;
    .project--nav-secondary{
        flex-direction: column;
        overflow: hidden;
        & > li:last-child{
            margin-block-end: 0;
        }
        .nav-item{
            margin-block-end: 10px;
        }
    }
    .nav-item{
        overflow: hidden;
    }
   
    .nav-sublink{
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0;
        color: #000;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transition: transform .6s ease;
            transform-origin: left;
            transform: scale(0);
            background-color: #A8977A;
        }
        &:hover{
            ::before{
                transform: scale(1);
            }
        }
    }
}

.project--subheader-bg{
    width: 100%;
}

.project--secondary-divider{
    width: 1px;
    height: 100%;
    background-color: #A8977A;
    margin: 0 30px;
}

.project--nav-banner-container{
    align-self: flex-start;
    overflow: hidden;
}

.nav--banner-link{
    display: block;
    line-height: 0;
    img{
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
    }
}