:root{
    --header-top-bg: #000;
    --header-top-color: #fff;
    --header-bottom-bg: #CDC3B3;
    --header-bottom-color: #000;
}
h1{
    font-size: 28px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: bold;
}

h4{
    font-size: 16px;
    font-weight: bold;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 14px;
}

p{
    font: normal normal normal 16px/18px Circe;
    letter-spacing: 0px;
    margin-bottom: 12px;
}

.text-dark {
    color: #000 !important;
}

.mb-6{
    margin-block-end: 6px;
}
.mb-10{
    margin-block-end: 10px;
}

.mb-20{
    margin-block-end: 20px;
}

.mb-20-important{
    margin-block-end: 20px !important;
}

.ml-20{
    margin-inline-end: 20px;
}

.hover--opacity{
    opacity: .6;
}

.mb-14{
    margin-block-end: 14px !important;
}



@media (min-width: 768px){
    .pt-md-6px{
        padding-top: 8px !important;
    }
}