.project--popup-container {
  position: relative;
  width: 330px;
  min-height: 220px;
  max-height: 472px;
  padding: 20px 20px 40px;
  background: #fff;
  border: 1px solid #a8977a;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
  z-index: 99;
  &.project--popup-product {
    padding-block-end: 0;
  }
  .project--popup-links{
    width: 100%;
  }
  @media screen and (max-width: 1200px){
      width: 100%;
      height: auto;
      max-height: initial;
      border: none;
      border-radius: 0;
      top: 50px !important;
      padding: 11px 40px 30px 40px;
      border-top: 1px solid #cdc3b3;
      .project--popup-links{
        .project--popup-logout-wrapper{
          width: 100%;
        }
        .project--popup-link{
          width: 140px;
          height: 70px;
        }
        .project--popup-link-wrapper{
          width: 440px;
          justify-content: space-between !important;
          margin: 0 auto;
        }
        .project--popup-link-wrapper > a:nth-child(n+3):not(:last-child){
          width: 140px;
          height: 70px;
          justify-content: center;
          flex-direction: column;
        }
        .project--popup-link-wrapper > a + a{
          margin-inline-start: 0;
        }
        .project--popup-logout{
          height: 25px;
          line-height: 23px;
          margin-block-start: 0;
        }
      }
      .project--search-results{
        width: 290px;
        margin: 0 auto;
      }
      &.project--popup-product{
        display: none;
        padding-block-end: 20px;
      }
      #login1 .project--popup-form{
        display: flex;
        justify-content: center;
        width: 100%;
        & > div{
          flex: 0 0 290px;
          button {
            margin-block-end: 0;
          }
          p{
            line-height: 18px;
          }
          &:first-child{
            position: relative;
            margin-inline-end: 40px;
            &::before{
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: -20px;
              width: 1px;
              height: 100%;
              background-color: #CDC3B3;
            }
          }
        }
        &> div:last-child{
          display: flex;
          flex-direction: column;
          button{
            margin-block-start: auto;
          }
        }
      }
  }
}

.project--popup-form {
  position: relative;
  @media screen and (max-width: 1200px){
    width: 290px;
    margin: 0 auto;
  }
  & > :last-child {
    margin-block-end: 0;
    padding-block-end: 0;
  }
}

.project--form-btn {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  letter-spacing: 0.16px;
  font-size: 16px;
  padding-block-end: 0;
  padding-block-start: 0;
  margin-block-end: 20px;
  text-align: center;
  color: #fff;
  background-color: #a8977a;
  transition: background-color 0.3s ease;
  &:disabled {
    opacity: 0.75;
  }
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
    background-color: #897047;
  }
}

.project--input {
  width: 100%;
  height: 100%;
  line-height: 33px;
  border-radius: 10px;
  letter-spacing: 0.16px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #fff;
  color: #000;
  &[type="password"] {
    padding-inline-end: 40px;
  }

  &:focus {
    & + .project--input-label {
      top: -5px;
      font-size: 10px;
      transform: none;
    }
  }
}

.project--form-divider {
  margin-block-end: 10px;
  border-color: #cdc3b3;
}

.project--input-wrapper {
  position: relative;
  border-radius: 10px;
  margin-block-end: 10px;
  .project--input{
      border: 1px solid #CDC3B3;
      height: 35px;
       &:focus{
         border: 1px solid #CDC3B3 !important;
        & + label {
         top: 5px;
        }
       }
     
    }
    &.has-error{
      color: #d3311c;
      .project--input{
        border-color: #d3311c;
         & ~ button.popup-form-search-btn {
            border: none;
            border-left: 1px solid #d3311c;
         }
      }
    }
}
 
  
.project--input-label {
  position: absolute;
  top: 12px;
  transition: all 0.3s ease;
  left: 10px;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  color: #897047;
  pointer-events: none;
}

.project--popup-logout {
  display: block;
  width: 110px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #a8977a;
  border-radius: 18px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;
  margin: 0 auto;
  &:hover {
    background-color: #897047;
    color: #fff;
  }
}

.project--popup-links {
  .project--popup-link-wrapper > a:nth-child(2) {
    margin-inline-start: 10px;
  }
  .project--popup-link-wrapper > a:nth-child(-n + 3) {
    height: 70px;
    justify-content: center;
    span.popup--link-name {
      margin: 0;
      margin-block-end: 4px;
      line-height: 25px;
    }
  }
  .project--popup-link-wrapper > a:nth-child(n + 3):not(:last-child) {
    width: 100%;
    height: 35px;
    line-height: 35px;
    flex-direction: row;
    justify-content: center;
  }
  .project--popup-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(50% - 5px);
    background-color: #a8977a;
    color: #fff;
    transition: background-color 0.5s ease;
    margin-block-end: 10px;
    border-radius: 18px;
    &:hover {
      background-color: #897047;
    }
    .popup--link-name {
      font-size: 16px;
      letter-spacing: 0;
      text-transform: capitalize;
      margin-inline-end: 10px;
    }
    svg {
      fill: #fff;
      width: 20px;
      height: 20px;
      path {
        fill: #fff;
      }
    }
  }
  .project--popup-logout {
    margin-block-start: 20px;
  }
}

.project--popup-goback {
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0;
  padding: 0;
  svg {
    position: relative;
    top: -2px;
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
  }
}
.project--popup-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1200px){
    position: relative;
    justify-content: center;
    border-bottom: 0;
    margin-block-end: 20px;
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 290px;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #cdc3b3;
    }
  }
  @media screen and (max-width: 768px){
    margin-block-end: 10px;
  }
  h3 {
    margin-block-start: 0;
    line-height: 36px;
    max-width: 160px;
  }
  .project--popup-close {
    padding: 0;
    width: 10px;
    height: 10px;
    font-size: 0;
    margin-block-end: .5rem;
    svg {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
    @media screen and (max-width: 1200px){
        position: absolute;
        top: 4px;
        right: 0;
        font-size: 16px;
        width: auto;
        display: flex;
        align-items: center;
        margin: 0;
        svg{
          width: 10px;
          height: 10px;
          margin-inline-start: 10px;
        }
    }
  }
  border-bottom: 1px solid #cdc3b3;
  margin-block-end: 10px;
}

.product--modal-image {
  max-width: 150px;
  height: 224px;
  width: 100%;
  object-fit: contain;
}
.product--modal-price {
  max-width: 120px;
}

.product--modal-details {
  margin-inline-start: 20px;
}
.project--product-modal{
  @media screen and (min-width: 1201px){
    & > div:first-child {
      padding-block-end: 141px;
    }
  
    & > div:last-child:not(:first-child):first-child {
      padding-block-end: 0;
    }
  
    & > div:last-child:not(:first-child) {
      padding-block-end: 200px;
    }
  }
}
.project--product-modal,
.project--wishlist-modal {
  position: relative;
  max-height: 472px;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    width: 0;
  }

  @media screen and (max-width: 1200px){
    .project--product-modal-item{
      margin-block-end: 0 !important;
      min-width: 270px;
      max-width: 320px;
      width: 100%;
      flex-shrink: 0;
    }
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-block-end: 20px;
      margin-block-end: 10px;
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar-thumb {
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: #F0EDE7; 
        border-radius: 10px;
      }
     
      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #CDC3B3;
      }
  }
}

.project--wishlist-modal{
    & > div:first-child {
        padding-block-end: 40px;
      }
    
      & > div:last-child:not(:first-child):first-child {
        padding-block-end: 0;
      }
    
      & > div:last-child:not(:first-child) {
        padding-block-end: 10px;
      }
      @media screen and (max-width: 1200px){
        display: flex;
        align-items: center;
        justify-content: center;
        & > div{
          padding-block-end: 0 !important;
          margin-block-end: 0 !important;
        }
        & > div + div{
          margin-inline-start: 30px;
        }
      }
}

.project--product-modal-iterations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 12px;
  background-color: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: 25;
  @media screen and (max-width: 1200px){
    position: relative;
    padding-block-end: 0;
    .button--full-width{
      width: 290px;
    }
    .project--iteration-divider{
      display: none;
    }
  }
}

.project--iteration-divider {
  width: 100%;
  margin: 0 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid #a8977a;
}

.project--product-modal-total-price {
  font-size: 14px;
  font-weight: normal;
  del {
    font-size: 16px;
    line-height: 23px;
  }
}

.project--product-modal-text-btn {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;
  color: #000000;
  max-width: 136px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  &:hover {
    border-color: #a8977a;
  }
}

.product-modal-item-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    transition: border-color .3s ease, background-color .4s ease;
    svg{
        width: 100%;
        height: 100%;
        transition: fill .3s ease,
    }
}

.product--delete-btn-modal{
    border: 1px solid #000;
    border-radius: 100%;
    background-color: transparent;
    &:hover{
        border-color: #A8977A;
        background-color: #A8977A;
        svg{
            fill: #fff;
        }
    }
    svg{
        width: 8px;
        height: 8px;
    }
}

.product--wishlist-btn-modal{
  svg{
      width: 100%;
      height: 100%;
  }
  &:hover{
    svg{
        fill: #A8977A;
    }
}
}

.project--wishlist-product{
    max-height: 587px;
    @media screen and (max-width: 1200px){
      max-height: 634px;
      padding-block-start: 0;
      padding-block-end: 20px;
    }
}

.wishlist--modal-details-bottom{
    .size_radio_btn{
        height: 26px;
        .size_radio_checker{
            line-height: 26px;
        }
    }
}

.wishlist--modal-image-container{
    position: relative;
    width: 100%;
    max-height:  435px;
    margin-block-end: 10px;
    .wishlist--modal-btns{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 10px;
        top: 0;
        left: 0;
    }
}

.project--popup-multistep{
  position: absolute;
  display: none;
  top: 30px;
  right: 10px;
  overflow: hidden;
  &.active{
    display: flex !important;
  }
  .project--popup-steps{
    flex-shrink: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: transform .4s ease, height .3s ease;
    transform: translateX(100%);
  }
  #forgotPassword.active{
    transform: translateX(-100%);
    height: auto;
  }
  #forgotPassword2.active{
    transform: translateX(-200%);
    height: auto;
  }
  #login1{
    transform: translate(-120%);
    &.active{
      transform: translate(0);
      height: auto;
    }
  }
  #createAccount.active{
    transform: translate(-300%);
    height: auto;
  }
}

.popup-form-search-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 35px;
  border: 1px solid #CDC3B3;
  border-radius: 0px 10px 10px 10px;
  svg{
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #CDC3B3;
  }
  &:focus{
    border: 1px solid #CDC3B3 !important;
  }
  .show-hide-password{
    display: block;
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../assets/Eye_icon.svg');
    &.active{
      background-image: url('../assets/Eye_icon_Hover.svg');
    }
  }
  &:not([name="passwordShowHide"]):active,&:not([name="passwordShowHide"]).active{
    background-color: #897047;
    svg{
      fill: #fff;
    }
  }
}

.search--group-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000;
  margin-block-end: 2px;
  .searched--item-name{
    transition: border-color .4s ease;
    border-bottom: 1px solid transparent;
  }
  &:hover{
    .searched--item-name{
      display: inline;
      border-color: #CDC3B3;
    }
  }
}

@media screen and (max-width: 1200px){
  .project--product-modal{
    & > div + div{
      margin-inline-start: 34px;
    }
  }
  .project--popup-product{
    .project--popup-header{
      position: relative;
      flex-direction: column;
      h4{
        margin-block-end: 0;
      }
      h5{
        margin-block-start: 8px;
      }
      &::before{
          bottom: auto;
          top: 42%;
          transform: translate(-50%,-50%);
      }
    }
  }
  #forgotPassword .project--popup-header{
    justify-content: flex-start;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px){
  .project--popup-container{
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
  .project--popup-header{
    justify-content: flex-start;
    margin-block-end: 15px;
    &::before{
      width: 100%;
    }
  }
  .project--popup-container #login1 .project--popup-form{
    flex-direction: column;
    & > div{
      flex: 0 0 auto;
    }
    & > div:first-child{
      margin-inline-end: 0;
      padding-block-end: 20px;
      margin-block-end: 15px;
      border-bottom: 1px solid #CDC3B3;
      &::before{
        content: none;
      }
    }
  }
  #search .project--popup-form,
  #search .project--search-results{
    width: 100%;
  }
  .project--popup-container .project--popup-links .project--popup-link-wrapper{
    width: auto;
  }
  .project--popup-links .project--popup-link{
    width: 100% !important;
    max-width: 160px;
  }
}

@media screen and (max-width: 325px){
  .project--popup-links .project--popup-link{
    max-width: 130px;
  }
}
