body{
  font-family: 'Circe', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

html,
body,
body div,
span,
object,
iframe,
img,
ins,
kbd,
samp,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
footer,
header,
nav,
section,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  background: transparent;
  &:focus{
    outline: 0 !important;
  }
}
input[type='checkbox'] {
  vertical-align: bottom;
  -webkit-appearance: checkbox;
}

.ie7 input[type='checkbox'] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}

/* number type inupt spinners hiding */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}