
$start: 0;
$end: 10;


@for $var from start to end {
    .service-telephone{
        width: 30px;
        height: 30px;
        background-image: url('../assets/footer/service_phone.svg');
    }
}


