body {
  font-family: "Circe", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html,
body,
body div,
span,
object,
iframe,
img,
ins,
kbd,
samp,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
footer,
header,
nav,
section,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  background: transparent;
}

input:focus,
button:focus {
  outline: 0 !important;
  border: none !important;
}

input[type=checkbox] {
  vertical-align: bottom;
  -webkit-appearance: checkbox;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

/* number type inupt spinners hiding */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

:root {
  --header-top-bg: #000;
  --header-top-color: #fff;
  --header-bottom-bg: #CDC3B3;
  --header-bottom-color: #000;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
}

.text-inherit{
  color: inherit;
}
.text-dark {
  color: #000 !important;
}

.mb-6 {
  -webkit-margin-after: 6px;
  margin-block-end: 6px;
}

.mb-10 {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.mb-20 {
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}

.mb-20-important {
  -webkit-margin-after: 20px !important;
  margin-block-end: 20px !important;
}

.ml-20 {
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
}

.hover--opacity {
  opacity: 0.6;
}

.project--header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 120px;
  background-color: #fff;
  -webkit-transition: height 0.3s ease, padding 0.3s ease;
  transition: height 0.3s ease, padding 0.3s ease;
  z-index: 100;
}

.project--header .project--header-wrapepr {
  padding: 16px 40px;
}

.project--header.background--transparent {
  background-color: transparent;
}

.project--header.background--blur {
  background-color: #fff;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.project--header.background--opacity {
  background-color: rgba(255, 255, 255, 0.7);
}

.project--header .project--popup-container {
  display: none;
  position: absolute;
  top: 43px;
  right: 10px;
  overflow: hidden;
  z-index: 100;
}

.project--header .project--popup-container.active {
  display: block;
}

.project--logo {
  display: block;
  width: 290px;
  height: 35px;
}

.project--logo svg {
  width: 100%;
  height: 100%;
}

.project--primary-links {
  position: relative;
}

.project--primary-links > a + a {
  -webkit-margin-start: 24px;
  margin-inline-start: 24px;
}

.project--primary-links > a + a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  display: block;
  width: 1px;
  height: 20px;
  background-color: #A8977A;
}

.project--primary-links .primary--link-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project--primary-links .primary--link-item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.project--header-line {
  border-color: #A8977A;
  -webkit-margin-after: 15px;
  margin-block-end: 15px;
}

.project--header-secondary .nav-link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.project--header-secondary .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #A8977A;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.project--header-secondary .nav-link:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project--header-secondary .header--secondary-nav > .navbar-nav > .nav-item {
  position: static;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.project--header-secondary .header--secondary-nav > .navbar-nav > .nav-item.active .dropdown--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project--header-secondary .header--secondary-nav > .navbar-nav > li:last-child .dropdown--content,
.project--header-secondary .header--secondary-nav > .navbar-nav .secondary--nav-reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.project--header-secondary .header--secondary-nav > .navbar-nav > li:last-child .dropdown--content .project--nav-banner-container,
.project--header-secondary .header--secondary-nav > .navbar-nav .secondary--nav-reversed .project--nav-banner-container {
  position: relative;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 60px;
  margin-inline-end: 60px;
}

.project--header-secondary .header--secondary-nav > .navbar-nav > li:last-child .dropdown--content .project--nav-banner-container .project--secondary-divider,
.project--header-secondary .header--secondary-nav > .navbar-nav .secondary--nav-reversed .project--nav-banner-container .project--secondary-divider {
  display: none;
}

.project--header-secondary .header--secondary-nav > .navbar-nav > li:last-child .dropdown--content .project--nav-banner-container::before,
.project--header-secondary .header--secondary-nav > .navbar-nav .secondary--nav-reversed .project--nav-banner-container::before {
  left: auto;
  right: -30px;
}

.dropdown--content {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
  padding: 30px 0;
  overflow: hidden;
  background-color: #fff;
}

.dropdown--content:empty {
  display: none !important;
}

.dropdown--content > .container {
  position: relative;
}

.dropdown--content > .container > .row {
  height: 100%;
  width: 100%;
}

.dropdown--content .project--nav-secondary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.dropdown--content .project--nav-secondary > li:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.dropdown--content .project--nav-secondary .nav-item {
  -webkit-margin-after: 6px;
  margin-block-end: 6px;
}

.dropdown--content .nav-item {
  overflow: hidden;
}

.dropdown--content .nav-sublink {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: #000;
  padding-bottom: 4px;
}

.dropdown--content .nav-sublink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #A8977A;
}

.dropdown--content .nav-sublink:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project--subheader-bg {
  position: relative;
  top: -10px;
  z-index: 20;
  width: 100%;
}

.project--secondary-divider {
  width: 1px;
  height: 100%;
  background-color: #A8977A;
  margin: 0 30px;
}

.project--nav-banner-container {
  position: relative;
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 100%;
  -webkit-margin-start: 60px;
  margin-inline-start: 60px;
}

.project--nav-banner-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -30px;
  background-color: #A8977A;
  width: 1px;
  height: 100%;
}

.nav--banner-wrapper {
  display: block;
}

.nav--banner-wrapper.nav--banner-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav--banner-wrapper.nav--banner-horizontal .nav--banner-link {
  max-width: 313px;
}

.nav--banner-wrapper.nav--banner-horizontal > a:nth-child(2) {
  -webkit-margin-end: 37px;
  margin-inline-end: 37px;
}

.nav--banner-wrapper.nav--banner-horizontal > a:not(:last-child) {
  -webkit-margin-end: 30px;
  margin-inline-end: 30px;
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.nav--banner-wrapper.nav--banner-horizontal > a:nth-child(3),
.nav--banner-wrapper.nav--banner-horizontal a:nth-child(4) {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.nav--banner-wrapper > a:first-child:not(:last-child) {
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
}

.nav--banner-link {
  display: block;
  line-height: 0;
}

.nav--banner-link img {
  max-width: 100%;
  width: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.nav--item-heading {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  letter-spacing: 0;
  font-weight: bold;
}

.project--brand-history-container > a + a {
  -webkit-margin-start: 30px;
  margin-inline-start: 30px;
}

.project--brand-history-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 192px;
  width: 100%;
}

.project--brand-history-item .brand--history-title {
  display: inline-block;
  color: #000;
  text-align: center;
  -webkit-margin-before: 11px;
  margin-block-start: 11px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.project--brand-history-item:hover > .brand--history-title {
  border-color: #A8977A;
}

.project--header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 25px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
  background-color: var(--header-top-bg);
  color: var(--header-top-color);
}

.project--header-top .project--header-top-title {
  letter-spacing: 0;
  margin: 0;
}

.project--header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: var(--header-bottom-bg);
  color: var(--header-bottom-color);
}

.project--header-bottom .project--header-bottom-title {
  letter-spacing: 0;
  margin: 0;
}

.nav-item .nav-link[data-section=brand] + .dropdown--content {
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project--tel {
  letter-spacing: 0;
  font-size: 16px;
  line-height: 23px;
  color: #000;
}

.project--tel:hover {
  color: #000;
  text-decoration: none;
}

.tooltip {
  -webkit-margin-before: 4px;
  margin-block-start: 4px;
  text-transform: capitalize;
}

.tooltip-inner {
  background-color: white;
  color: #000;
  border: 1px solid #A8977A;
  border-radius: 5px;
  letter-spacing: 0;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
}

.tooltip .arrow::after {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
  bottom: -1px;
  left: -2.5px;
  border-width: 0 0.55rem 0.55rem;
  border-bottom-color: #A8977A;
}

.tooltip .arrow::before {
  border-bottom-color: #fff;
  bottom: -1px;
  z-index: 1;
}

.color_radio_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 26px;
  height: 26px;
}

.color_radio_input {
  position: relative;
  opacity: 1;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--radio-button-color) !important;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.size_radio_checker {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 16px;
  line-height: 23px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  cursor: pointer;
}

.size_radio_btn {
  position: relative;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  width: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.size_radio_input {
  width: 10px;
  cursor: pointer;
}

.reset-button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

.radio_checker {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border: 2px solid transparent;
  pointer-events: none;
  border-radius: 100%;
  margin: 0;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.color_radio_input:checked + .radio_checker {
  border-color: #000;
}

.size_radio_input:checked + .size_radio_checker,
.size_radio_input:hover + .size_radio_checker {
  border-bottom-color: #a8977a;
}

.product--color-container {
  margin: 0 -4px;
}

.color--red {
  color: #d3311c;
}

.lt-0 {
  letter-spacing: 0;
}

.product--previous-price {
  font-weight: normal;
  letter-spacing: 0;
}

del {
  color: #7f7f7f;
}

.font-size-16 {
  font-size: 16px;
}

.button--green {
  background-color: #33A457;
  color: #fff;
  border-radius: 18px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button--green:disabled {
  background-color: #7CC995;
}

.button--green:active,
.button--green:hover {
  color: #fff;
  background-color: #157734;
}

.button--full-width {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;
}

.button--transparent-border {
  background-color: #fff;
  color: #000;
  border: 1px solid #A8977A;
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button--transparent-border:disabled {
  background-color: #CDC3B3;
}

.button--transparent-border:active,
.button--transparent-border:hover {
  color: #fff;
  background-color: #A8977A;
}

.button--chocolate {
  background-color: #A8977A;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button--chocolate:disabled {
  background-color: #CDC3B3;
}

.button--chocolate:active,
.button--chocolate:hover {
  color: #fff;
  background-color: #897047;
}

.project--section {
  height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: top;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.forgot--pasword {
  display: block;
  border-bottom: 1px solid transparent;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  padding: 0;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  margin-top: 6px;
  margin-bottom: 6px;
}

.forgot--pasword:hover {
  border-color: #A8977A;
}

.project--popup-container {
  position: relative;
  width: 330px;
  min-height: 220px;
  max-height: 472px;
  padding: 20px 20px 40px;
  background: #fff;
  border: 1px solid #a8977a;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
  z-index: 99;
}

.project--popup-container.project--popup-product {
  -webkit-padding-after: 0;
  padding-block-end: 0;
}

.project--popup-form {
  position: relative;
}

.project--popup-form > :last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-padding-after: 0;
  padding-block-end: 0;
}

.project--form-btn {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  letter-spacing: 0.16px;
  font-size: 16px;
  -webkit-padding-after: 0;
  padding-block-end: 0;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
  text-align: center;
  color: #fff;
  background-color: #a8977a;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.project--form-btn:disabled {
  opacity: 0.75;
}

.project--form-btn:hover,
.project--form-btn:active {
  color: #fff;
  text-decoration: none;
  background-color: #897047;
}

.project--input {
  width: 100%;
  height: 100%;
  line-height: 33px;
  border-radius: 10px;
  letter-spacing: 0.16px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #fff;
  color: #000;
}

.project--input[type=password] {
  -webkit-padding-end: 40px;
  padding-inline-end: 40px;
}

.project--input:focus + .project--input-label {
  top: -5px;
  font-size: 10px;
  -webkit-transform: none;
  transform: none;
}

.project--form-divider {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
  border-color: #cdc3b3;
}

.project--input-wrapper {
  position: relative;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #cdc3b3;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.project--input-wrapper:focus-within {
  border-color: #a8977a;
}

.project--input-wrapper.invalid--message {
  border-color: #d3311c;
}

.project--input-wrapper.invalid--message .invalid--mesage-text {
  color: #d3311c;
}

.project--input-label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 10px;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  color: #897047;
  pointer-events: none;
}

.project--popup-logout {
  display: block;
  width: 110px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #a8977a;
  border-radius: 18px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  text-align: center;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, font-weight 0.3s ease;
  margin: 0 auto;
}

.project--popup-logout:hover {
  background-color: #897047;
  color: #fff;
}

.project--popup-links .project--popup-link-wrapper > a:nth-child(2) {
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
}

.project--popup-links .project--popup-link-wrapper > a:nth-child(-n+3) {
  height: 70px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project--popup-links .project--popup-link-wrapper > a:nth-child(-n+3) span.popup--link-name {
  margin: 0;
  -webkit-margin-after: 4px;
  margin-block-end: 4px;
  line-height: 25px;
}

.project--popup-links .project--popup-link-wrapper > a:nth-child(n+3):not(:last-child) {
  width: 100%;
  height: 35px;
  line-height: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project--popup-links .project--popup-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(50% - 5px);
  background-color: #a8977a;
  color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
  border-radius: 18px;
}

.project--popup-links .project--popup-link:hover {
  background-color: #897047;
}

.project--popup-links .project--popup-link .popup--link-name {
  font-size: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
}

.project--popup-links .project--popup-link svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.project--popup-links .project--popup-link svg path {
  fill: #fff;
}

.project--popup-links .project--popup-logout {
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
}

.project--popup-goback {
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0;
  padding: 0;
}

.project--popup-goback svg {
  position: relative;
  top: -2px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.project--popup-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #cdc3b3;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.project--popup-header h3 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  line-height: 36px;
  max-width: 160px;
}

.project--popup-header .project--popup-close {
  padding: 0;
  width: 10px;
  height: 10px;
  font-size: 0;
  margin-bottom: .5rem;
}

.project--popup-header .project--popup-close svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.product--modal-image {
  max-width: 150px;
  height: 224px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.product--modal-price {
  max-width: 120px;
}

.product--modal-details {
  -webkit-margin-start: 20px;
  margin-inline-start: 20px;
}

.project--product-modal,
.project--wishlist-modal {
  position: relative;
  max-height: 472px;
  overflow-x: hidden;
  overflow-y: auto;
}

.project--product-modal::-webkit-scrollbar,
.project--product-modal::-webkit-scrollbar-track,
.project--product-modal::-webkit-scrollbar-thumb,
.project--wishlist-modal::-webkit-scrollbar,
.project--wishlist-modal::-webkit-scrollbar-track,
.project--wishlist-modal::-webkit-scrollbar-thumb {
  width: 0;
}

.project--wishlist-modal > div:first-child {
  -webkit-padding-after: 40px;
  padding-block-end: 40px;
}

.project--wishlist-modal > div:last-child:not(:first-child):first-child {
  -webkit-padding-after: 0;
  padding-block-end: 0;
}

.project--wishlist-modal > div:last-child:not(:first-child) {
  -webkit-padding-after: 10px;
  padding-block-end: 10px;
}

.project--product-modal-iterations {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 12px;
  background-color: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: 25;
}

.project--iteration-divider {
  width: 100%;
  margin: 0 20px;
  margin-bottom: 12px;
  border-bottom: 1px solid #a8977a;
}

.project--product-modal-total-price {
  font-size: 14px;
  font-weight: normal;
}

.project--product-modal-total-price del {
  font-size: 16px;
  line-height: 23px;
}

.project--product-modal-text-btn {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;
  color: #000000;
  max-width: 136px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.project--product-modal-text-btn:hover {
  border-color: #a8977a;
}

.product-modal-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-transition: border-color 0.3s ease, background-color 0.4s ease;
  transition: border-color 0.3s ease, background-color 0.4s ease;
}

.product-modal-item-btn svg {
  width: 100%;
  height: 100%;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.product--delete-btn-modal {
  border: 1px solid #000;
  border-radius: 100%;
  background-color: transparent;
}

.product--delete-btn-modal:hover {
  border-color: #A8977A;
  background-color: #A8977A;
}

.product--delete-btn-modal:hover svg {
  fill: #fff;
}

.product--delete-btn-modal svg {
  width: 8px;
  height: 8px;
}

.product--wishlist-btn-modal svg {
  width: 100%;
  height: 100%;
}

.product--wishlist-btn-modal:hover svg {
  fill: #A8977A;
}

.project--wishlist-product {
  max-height: 587px;
}

.wishlist--modal-details-bottom .size_radio_btn {
  height: 26px;
}

.wishlist--modal-details-bottom .size_radio_btn .size_radio_checker {
  line-height: 26px;
}

.wishlist--modal-image-container {
  position: relative;
  width: 100%;
  max-height: 435px;
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
}

.wishlist--modal-image-container .wishlist--modal-btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
}

.project--popup-multistep {
  position: absolute;
  display: none;
  top: 30px;
  right: 10px;
  overflow: hidden;
}

.project--popup-multistep.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.project--popup-multistep .project--popup-steps {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  -webkit-transition: height 0.3s ease, -webkit-transform 0.4s ease;
  transition: height 0.3s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, height 0.3s ease;
  transition: transform 0.4s ease, height 0.3s ease, -webkit-transform 0.4s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.project--popup-multistep #forgotPassword.active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: auto;
}

.project--popup-multistep #forgotPassword2.active {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
  height: auto;
}

.project--popup-multistep #login1 {
  -webkit-transform: translate(-120%);
  transform: translate(-120%);
}

.project--popup-multistep #login1.active {
  -webkit-transform: translate(0);
  transform: translate(0);
  height: auto;
}

.project--popup-multistep #createAccount.active {
  -webkit-transform: translate(-300%);
  transform: translate(-300%);
  height: auto;
}

.popup-form-search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 35px;
  border: 1px solid #CDC3B3;
  border-radius: 0px 10px 10px 10px;
}

.popup-form-search-btn svg {
  width: 20px;
  height: 20px;
  fill: #CDC3B3;
}

.popup-form-search-btn:active,
.popup-form-search-btn.active {
  background-color: #897047;
}

.popup-form-search-btn:active svg,
.popup-form-search-btn.active svg {
  fill: #fff;
}

.search--group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000;
  -webkit-margin-after: 2px;
  margin-block-end: 2px;
}

.search--group-item .searched--item-name {
  -webkit-transition: border-color 0.4s ease;
  transition: border-color 0.4s ease;
  border-bottom: 1px solid transparent;
}

.search--group-item:hover .searched--item-name {
  display: inline;
  border-color: #CDC3B3;
}

.footer {
  width: 100%;
  background-color: #fff;
  color: #000;
}

.footer_separator-x {
  width: calc(100% - 80px);
  margin: 0 auto;
  height: 1px;
  background-color: #F0EDE7;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer_heading {
  font-size: 21px;
  height: 31px;
  line-height: 31px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
}

.footer_email_container {
  width: 290px;
  position: relative;
  margin-bottom: 20px;
}

.footer_icon_service_wrapper {
  width: 60px;
  height: 30px;
  margin-bottom: 0;
}

.footer_icon_service {
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer_service_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #F0EDE7;
}

.footer_links {
  padding: 0;
}

.footer_service_wrapper:after {
  content: "";
  display: none;
  width: 1px;
  height: 61px;
  background-color: #F0EDE7;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer_service_wrapper:last-child:after{
  content: none;
}

.footer_service_wrapper .service_text_wrapper {
  font-size: 16px;
  line-height: 18px;
}

.service-telephone {
  width: 30px;
  height: 30px;
  background-image: url("../assets/footer/service_phone.svg");
}

.footer_service_wrapper a:hover .service-telephone {
  background-image: url("../assets/footer/service_phone_hover.svg");
}

.service-delivery {
  width: 40px;
  height: 30px;
  background-image: url("../assets/footer/service_delivery.svg");
}

.footer_service_wrapper a:hover .service-delivery {
  background-image: url("../assets/footer/service_delivery_hover.svg");
}

.service-return {
  width: 40px;
  height: 30px;
  background-image: url("../assets/footer/service_return.svg");
}

.footer_service_wrapper a:hover .service-return {
  background-image: url("../assets/footer/service_return_hover.svg");
}

.service-secure {
  width: 40px;
  height: 30px;
  background-image: url("../assets/footer/service_secure.svg");
}

.footer_service_wrapper a:hover .service-secure {
  background-image: url("../assets/footer/service_secure_hover.svg");
}

.footer_links_container {
  background-color: #F0EDE7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button_mail {
  background-color: #fff;
  border: 1px solid #CDC3B3;
  color: #A8977A;
  border-radius: 10px;
  border-top-left-radius: 0;
  text-transform: uppercase;
  height: 35px;
  padding: 0 9px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button_mail:focus,
.button_mail:hover {
  background-color: #897047 !important;
  border: 1px solid #CDC3B3 !important;
  color: #fff !important;
}

.footer_email_placeholder {
  position: absolute;
  left: 10px;
  top: 7px;
  color: #A8977A;
  background-color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  pointer-events: none;
}

.input_mail {
  background-color: #fff;
  border: 1px solid #CDC3B3;
  border-radius: 10px;
  height: 35px;
  width: 100%;
  color: #000;
  padding: 0 9px;
  outline: 0;
}

.input_mail:focus {
  border: 1px solid #CDC3B3 !important;
}

.footer_links_wrapper {
  font-size: 16px;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
  padding: 0;
}

.footer_links span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer_link {
  display: block;
  color: currentColor;
  text-decoration: none;
  margin-bottom: 6px;
  -webkit-transition: color 0.314s;
  transition: color 0.314s;
}

.footer_link:hover {
  color: #A8977A;
}

.soc_icons_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.soc_icon {
  width: 25px;
  height: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}
.soc_icon svg{
  fill: #A8977A;
}
a.soc_icon:hover svg{
  fill: #897047;
}

.payment {
  width: 49px;
  height: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-size: cover;
}

.payment-visa {
  background-image: url("../assets/footer/payment_visa.svg");
  width: 49px;
  height: 14px;
}

.payment-master {
  background-image: url("../assets/footer/payment_master.svg");
  width: 49px;
  height: 31px;
}

.payment-mir {
  background-image: url("../assets/footer/payment_mir.svg");
  width: 49px;
  height: 14px;
  margin-right: 0;
}

.footer_copy {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
}

.footer_links_heading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0 !important;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .footer_links,
  .footer_service_wrapper {
    padding: 0 20px;
  }

  .footer_links_wrapper {
    margin-bottom: 37px;
    border-bottom: 0;
  }

  .footer_service_wrapper:after {
    display: block;
  }

  .footer_service_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer_service_wrapper {
    border-bottom: 0;
  }

  .footer_icon_service_wrapper {
    margin-bottom: 10px;
  }

  .footer_links_heading {
    margin-bottom: 10px;
  }

  footer .collapse:not(.show),
  footer .collapsing {
    display: block !important;
    height: auto !important;
  }

  .soc_icons_wrapper.collapse:not(.show),
  .soc_icons_wrapper.collapsing {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
  }
}

@media screen and (min-width: 769px) {
  .nav-item .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  .footer_links,
  .footer_service_wrapper {
    padding: 0 8px 0 34px;
  }
}

@media (min-width: 1200px) {
  .footer_links,
  .footer_service_wrapper {
    padding: 0 15px 0 70px;
    padding: 0 0px 0 70px;
  }
}

@media screen and (min-width: 1201px) {
  .project--header-secondary .navbar.navbar-expand-xl {
    position: static !important;
  }
  .project--header-secondary ul.navbar-nav:not(.project--nav-secondary) > li:first-child{
    -webkit-padding-end: 30px;
    padding-inline-end: 30px;
  }
  .project--header-secondary ul.navbar-nav:not(.project--nav-secondary) > li + li{
    -webkit-padding-end: 30px;
    padding-inline-end: 30px;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px;
  }
  .project--header-secondary ul.navbar-nav:not(.project--nav-secondary) > li:last-child{
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
  }

  .project--header-secondary {
    position: static !important;
  }

  .navbar-toggler {
    display: none;
  }

  .project--product-modal > div:first-child {
    -webkit-padding-after: 141px;
    padding-block-end: 141px;
  }

  .project--product-modal > div:last-child:not(:first-child):first-child {
    -webkit-padding-after: 0;
    padding-block-end: 0;
  }

  .project--product-modal > div:last-child:not(:first-child) {
    -webkit-padding-after: 188px;
    padding-block-end: 188px;
  }
}

@media screen and (max-width: 1200px) {
  .project--primary-links {
    position: static;
  }

  .project--header-line,
  .project--header-top,
  .project--header-bottom {
    display: none;
  }

  .project--header {
    min-height: auto;
    height: 50px;
  }

  .project--header .project--header-wrapepr {
    padding: 0;
    height: 100%;
  }

  .project--header-primary {
    position: relative;
    padding: 0 20px;
    height: 100%;
  }

  .project--header-primary .project--tel {
    -webkit-margin-start: 38px;
    margin-inline-start: 38px;
  }

  .navbar-toggler {
    position: absolute;
    top: 17px;
    left: 20px;
    width: 18px;
    height: 18px;
    padding: 0;
    border: none;
  }

  .navbar-toggler .navbar-toggler-icon {
    width: 100%;
    height: 100%;
    vertical-align: top;
    background-size: 150%;
  }

  .project--header-secondary {
    background-color: #fff;
    max-width: 100%;
    padding: 0 20px;
  }

  .project--header-secondary > .row {
    margin: 0;
  }

  .project--header-secondary > .row > .navbar {
    width: 100%;
    position: static;
  }

  .project--header-secondary > .row > .navbar .header--secondary-nav > .navbar-nav {
    /* padding: 12px 0 14px 38px; */
    padding: 10px 35px 20px 38px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #a8977a;
  }
  .project--header-secondary .nav-link{
    padding: 10px 0 5px 0;
  }
  .project--header-secondary > .row > .navbar .header--secondary-nav > .navbar-nav > li + li {
    -webkit-margin-start: 40px;
    margin-inline-start: 40px;
  }

  .nav-item .dropdown--content {
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
  }

  .project--popup-container {
    width: 100%;
    height: auto;
    max-height: initial;
    border: none;
    border-radius: 0;
    top: 50px !important;
    padding: 0 40px 20px;
  }

  .project--popup-container.project--popup-links .project--popup-logout-wrapper {
    width: 100%;
  }

  .project--popup-container.project--popup-links .project--popup-link {
    width: 140px;
    height: 70px;
  }

  .project--popup-container.project--popup-links .project--popup-link-wrapper {
    width: 440px;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    margin: 0 auto;
  }

  .project--popup-container.project--popup-links .project--popup-link-wrapper > a:nth-child(n+3):not(:last-child) {
    width: 140px;
    height: 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project--popup-container.project--popup-links .project--popup-link-wrapper > a + a {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
  }

  .project--popup-container.project--popup-links .project--popup-logout {
    height: 25px;
    line-height: 23px;
    -webkit-margin-before: 0;
    margin-block-start: 0;
  }

  .project--popup-container .project--search-results {
    width: 290px;
    margin: 0 auto;
  }

  .project--popup-container.project--popup-product {
    display: none;
    -webkit-padding-after: 20px;
    padding-block-end: 20px;
  }

  .project--popup-container #login1 .project--popup-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .project--popup-container #login1 .project--popup-form > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 290px;
    flex: 0 0 290px;
  }

  .project--popup-container #login1 .project--popup-form > div button {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }

  .project--popup-container #login1 .project--popup-form > div:first-child {
    position: relative;
    -webkit-margin-end: 40px;
    margin-inline-end: 40px;
  }

  .project--popup-container #login1 .project--popup-form > div:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 1px;
    height: 100%;
    background-color: #CDC3B3;
  }

  .project--popup-form {
    width: 290px;
    margin: 0 auto;
  }

  .project--popup-header {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 0;
    -webkit-margin-after: 20px;
    margin-block-end: 20px;
  }

  .project--popup-header::before {
    content: "";
    display: block;
    position: absolute;
    width: 290px;
    height: 1px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #cdc3b3;
  }

  .project--popup-header .project--popup-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .project--popup-header .project--popup-close svg {
    width: 10px;
    height: 10px;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
  }

  .project--product-modal,
  .project--wishlist-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-padding-after: 20px;
    padding-block-end: 20px;
    -webkit-margin-after: 10px;
    margin-block-end: 10px;
  }

  .project--product-modal .project--product-modal-item,
  .project--wishlist-modal .project--product-modal-item {
    -webkit-margin-after: 0 !important;
    margin-block-end: 0 !important;
    min-width: 270px;
    max-width: 320px;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .project--product-modal::-webkit-scrollbar,
  .project--product-modal::-webkit-scrollbar-track,
  .project--product-modal::-webkit-scrollbar-thumb,
  .project--wishlist-modal::-webkit-scrollbar,
  .project--wishlist-modal::-webkit-scrollbar-track,
  .project--wishlist-modal::-webkit-scrollbar-thumb {
    height: 3px;
  }

  .project--product-modal::-webkit-scrollbar-track,
  .project--wishlist-modal::-webkit-scrollbar-track {
    background-color: #F0EDE7;
    border-radius: 10px;
  }

  .project--product-modal::-webkit-scrollbar-thumb,
  .project--wishlist-modal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CDC3B3;
  }

  .project--wishlist-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .project--wishlist-modal > div {
    -webkit-padding-after: 0 !important;
    padding-block-end: 0 !important;
    -webkit-margin-after: 0 !important;
    margin-block-end: 0 !important;
  }

  .project--wishlist-modal > div + div {
    -webkit-margin-start: 30px;
    margin-inline-start: 30px;
  }

  .project--product-modal-iterations {
    position: relative;
    -webkit-padding-after: 0;
    padding-block-end: 0;
  }

  .project--product-modal-iterations .button--full-width {
    width: 290px;
  }

  .project--product-modal-iterations .project--iteration-divider {
    display: none;
  }

  .project--wishlist-product {
    max-height: 634px;
    -webkit-padding-before: 0;
    padding-block-start: 0;
    -webkit-padding-after: 20px;
    padding-block-end: 20px;
  }

  .project--product-modal > div + div {
    -webkit-margin-start: 34px;
    margin-inline-start: 34px;
  }

  .project--popup-product .project--popup-header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project--popup-product .project--popup-header h4 {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }

  .project--popup-product .project--popup-header h5 {
    -webkit-margin-before: 8px;
    margin-block-start: 8px;
  }

  .project--popup-product .project--popup-header::before {
    bottom: auto;
    top: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .header--secondary-nav > .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
  }

  .header--secondary-nav > .navbar-nav > li {
    position: relative !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-margin-start: 0 !important;
    margin-inline-start: 0 !important;
    -webkit-padding-start: 24px;
    padding-inline-start: 24px;
  }

  .header--secondary-nav > .navbar-nav > li .nav-link {
    display: inline-block;
  }

  .header--secondary-nav > .navbar-nav > li::before {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../assets/chevron.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .header--secondary-nav > .navbar-nav > li .dropdown--content {
    position: static;
    overflow: hidden;
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
    padding: 0;
  }

  .header--secondary-nav > .navbar-nav > li .dropdown--content .project--nav-banner-container {
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
    -webkit-margin-start: 60px !important;
    margin-inline-start: 60px !important;
  }

  .header--secondary-nav > .navbar-nav > li .dropdown--content .project--nav-banner-container::before {
    right: auto !important;
    left: -30px !important;
  }

  .header--secondary-nav > .navbar-nav > li.active::before {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .header--secondary-nav > .navbar-nav > li.active .dropdown--content {
    height: auto;
    -webkit-padding-before: 20px;
    padding-block-start: 20px;
    -webkit-padding-after: 20px;
    padding-block-end: 20px;
  }

  .project--brand-history-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .project--brand-history-container .project--brand-history-item {
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .project--brand-history-container + .nav--banner-wrapper > a:first-child:not(:last-child) {
    -webkit-margin-after: 20px;
    margin-block-end: 20px;
  }

  .project--brand-history-container + .nav--banner-wrapper .nav--banner-link {
    color: #000;
  }

  .project--brand-history-item > img {
    display: none;
  }

  .nav-link[data-section=brand] + .dropdown--content {
    position: relative !important;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 25%;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #A8977A;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper > div > a + a {
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper .nav--banner-link {
    text-align: center;
  }

  .nav-link[data-section=brand] + .dropdown--content .nav--banner-wrapper .nav--banner-link img {
    width: 162px;
    height: 112px;
  }

  .header--secondary-nav > .navbar-nav {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 576px) {
  .project--header-primary > a.project--tel,
  .primary--link-item:not([data-nav-name=cart]) {
    display: none;
  }

  .nav--banner-wrapper,
  .project--nav-banner-container {
    display: none !important;
  }

  .project--logo {
    width: 198px;
  }

  .navbar-toggler {
    position: static;
  }
}